<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="/stylesheets/style_lbk.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/listview_flexible.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!-- 스크립트 코드링크 (CND)를 지정 -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/classifyCate.js"></script><!--카테고리 분류-->
    <script type="text/javascript" src="/javascripts/optTableAdd.js"></script><!--옵션추가-->
    <script type="text/javascript" src="/javascripts/uploadImage.js"></script><!--이미지 업로드-->
    <script type="text/javascript" src="/javascripts/prodListview.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>      <!--달력 출력을 위해 필요-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!--달력 출력을 위해 필요-->
    <script type="text/javascript" src="/javascripts/mydatepicker.js"></script><!--달력 출력을 위해 필요-->
  </head>
  <body>

  <!-- 헤더부분 -->
  <div class="container-fluid" style="margin-bottom: 20px; margin-top: 20px;" >
   <div class="row align-items-center" >
     <div class="col-2"><a href="/"><img src="/images/slowmadelogo1.png" alt="logo" style="height: 70px; margin-left:40px;"></a></div>
     <div class="col-8" >
         <form class="searchForm" role="form" action="/search" method="post">
           <input type="hidden" name="page" valeu="1"/>
           <input type="text" placeholder="상품 검색하기" name="search" style="border: solid 0.5px gray; border-radius: 5px 0 0 5px;">
           <input type="hidden" name="hiddenCurrent" value="1"/>
           <button type="submit"style="border: solid 0.5px gray; background-color: #ffa07a; "><i class="fa fa-search" ></i></button>
         </form>

     </div>
     <div class="col-1"> <a href='<%=logurl%>'><h6><small><%=loglabel%></small></h6></a></div>
     <div class="col-1"> <a href='<%=regurl%>'><h6><small><%=reglabel%></small></h6></a></div>

   </div>
 </div>
