<!DOCTYPE html>
<div class="col-md-9.5">

  <div class="wrapper">

    <nav id="sidebar">
              <div class="sidebar-header">
                  <h3>상품 조회</h3>
              </div>

              <ul class="list-unstyled components">
                  <p>카테고리</p>
                  <li class="active">
                      <a href="#AccSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">액세서리</a>

                                <ul class="collapse list-unstyled" id="AccSubmenu">
                                   <li><a href="#">- 목걸이 </a></li>
                                   <li><a href="#">- 귀걸이 </a></li>
                                   <li><a href="#">- 반지 </a></li>
                                   <li><a href="#">- 팔찌,발찌 </a></li>
                                    <li><a href="#">- 기타 </a></li>
                                </ul>
                  </li>

                  <li class="active">
                      <a href="#SoapSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">비누, 캔들</a>

                                <ul class="collapse list-unstyled" id="SoapSubmenu">
                                   <li><a href="#">- 비누 </a></li>
                                   <li><a href="#">- 캔들 </a></li>
                                   <li><a href="#">- 디퓨져 </a></li>

                                </ul>
                  </li>

                  <li class="active">
                      <a href="#BeautySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">뷰티</a>

                                 <ul class="collapse list-unstyled" id="BeautySubmenu">
                                    <li><a href="#">- 화장품 </a></li>
                                    <li><a href="#">- 향수 </a></li>
                                 </ul>
                  </li>
                  <li class="active">
                      <a href="#GeneralSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">잡화</a>

                                 <ul class="collapse list-unstyled" id="GeneralSubmenu">
                                    <li><a href="#">- 가방 </a></li>
                                    <li><a href="#">- 신발 </a></li>
                                    <li><a href="#">- 모자 </a></li>
                                    <li><a href="#">- 지갑 </a></li>
                                 </ul>
                  </li>

                  <li class="active">
                      <a href="#ElecSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">전자기기</a>

                                 <ul class="collapse list-unstyled" id="ElecSubmenu">
                                    <li><a href="#">- 핸드폰 케이스 </a></li>
                                    <li><a href="#">- 에어팟/버즈 케이스 </a></li>
                                    <li><a href="#">- 파우치 </a></li>
                                 </ul>
                  </li>

                  <li class="active">
                      <a href="#ToySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">완구, 팬시</a>

                                 <ul class="collapse list-unstyled" id="ToySubmenu">
                                    <li><a href="#">- 인형 </a></li>
                                    <li><a href="#">- 문구/팬시 </a></li>
                                    <li><a href="#">- 장난감 </a></li>
                                 </ul>
                  </li>

                  <li class="active">
                      <a href="#SnackSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">식품</a>

                                 <ul class="collapse list-unstyled" id="SnackSubmenu">
                                    <li><a href="#">- 디저트 </a></li>
                                    <li><a href="#">- 커피/차 </a></li>
                                    <li><a href="#">- 수제반찬 </a></li>
                                 </ul>
                  </li>
              </ul>
          </nav>
  <div class = "content">
    <input type="hidden" id="currentView" value="<%=currentPage%>"/>
   <table class="product_list" style="margin-left: 10px;">
       <thead>
         <div class="form-inline">
           <h3 style="margin: 10px 0 5px 40px;"><b>최신 상품</b></h3>
         </div>
       </thead>

       <tbody >
       <%
       var listcount=prodata.length;
       %><input type="hidden" id="hiddenListCount" value="<%=prodata.length%>">
       <%
       var j=0;
       var current=currentPage;
       if(listcount>16){
          if(current==1){
              listcount=16;
          }
          else{
              if(listcount>current*16){
                 listcount=current*16;
                 j=listcount-16-1;
              }
              else{
                 j=listcount-(current-1)*16-1;
              }
          }
       }
       for(var m=0; j + m*4 < listcount && m<4; m++){
         %>
         <tr>
           <%
         for(var k=0; k<4 && k < listcount-(j+m*4); k++){
           %><td style="width: 250px;">
                 <div class="p-2 bd-highlight">
                   <div class="row-1"><img class="img-fluid" src="<%=prodata[j+m*4+k].productImg%>" class="align-self-start mr-3" alt="상품" width=200px></div>
                   <div class="row-3">
                     <h5 class="mt-0"><%=prodata[j+m*4+k].productName%></h5>
                     <p>판매가 <%=prodata[j+m*4+k].price%> / 최저가 <%=prodata[j+m*4+k].minPrice%></p>

                     <div class="form-inline">
                       <form action="/product/detail" role="form" method="post">
                         <div class="form-group">
                           <input type="hidden" name="productNum" value="<%=prodata[j+m*4+k].productNum%>"/>
                           <input type="submit" class="btn btn-secondary" value="상품정보"/>
                         </div>
                       </form>
                     &nbsp;
                       <form action="/shop">
                         <input type="hidden" name="productNum" value="<%=prodata[j+m*4+k].productNum%>"/>
                         <input type="submit" class="btn btn-secondary" name="shopNum" value="상점정보"/>
                       </form>
                     </div>
                   </div>
                 </div>
              </td>
           <%}%>
           </tr>
         <%}%>
       </tbody>
   </table>
  </div>
  </div>


  <p> <p> <p> <p>
  <nav aria-label="...">
  <ul class="pagination justify-content-center" id="mypgnation">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <!-- <li class="page-item active" aria-current="page">
      <form method="post" action="/product/all">
        <input type="hidden"name="pageNum" value="1" />
        <input type="submit" class="page-link" style="background: #EF9F5B; border-color: #EF9F5B;" value="1"/>
      </form>
    </li> -->
  </ul>
</nav>
