<!DOCTYPE>
<div class="row">
  <div class="col-2">
    <div class="sidebar container p-3 my-3 border">
      <ul class="nav flex-column">
        <h5>제작량 관리 </h5>
        <li class="nav-item"><a class="nav-link" href="/shop">상점 정보</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop/product_list/1">상품 관리</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop/stock/1">제작량 관리</a></li>
        <li class="nav-item"><a class="nav-link" href="/order/shoplist">주문 관리</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop/review/list/1">리뷰 관리</a></li>
        <li class="nav-item"><a class="nav-link" href="/shop/enquiry/list/1">문의 관리</a></li>
      </ul>
    </div>
  </div>
  <div class="col-2">
  </div>
    <div class="jumbotron col-4" style="background: #feebcb; margin-top: 50px; margin-left: 100px;">
      <form class="" action="/shop/stock" method="post">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="stockIdx" value="<%=stockData[0].stockIdx%>"/>
        <h4><b>제작량 수정</b></h4><hr><br>
        <div class="form-inline">
          <label for="">상품명</label>&nbsp;&nbsp;&nbsp;
          <select class="form-control" name="selectStockProd" id="selectStockProd" style="width: 250px;">
            <%
            for(var i=0;i<prodata.length;i++){
              if(stockData[0].stockProdName==prodata[i].productName){
            %>
                <option value="<%=prodata[i].productName%>,<%=prodata[i].productNum%>" selected="selected"><%=prodata[i].productName%></option>
            <%
              }
              else{
            %>
                <option value="<%=prodata[i].productName%>,<%=prodata[i].productNum%>"><%=prodata[i].productName%></option>
            <%
              }
            }
            %>
          </select>
        </div><br>
        <div class="form-inline">
          <label for="">날짜</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%
          var month=stockData[0].stockDATE.getMonth()+1;
          var year=stockData[0].stockDATE.getFullYear();
          var day=stockData[0].stockDATE.getDate();
          var date=''+year+'-'+month+'-'+day;
          %>
          <input class="form-control" type="date" name="stockDate" value="<%=date%>">
        </div><br>
        <div class="form-inline">
          <label for="">수량</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input class="form-control" type="text" name="stockQuantity" value="<%=stockData[0].stockAmount%>" style="width: 150px;">
        </div><br>
        <div class="form-inline">
            <input type="submit" class="btn" value="수정" style="background: #ffa07a; width: 100px; cursor: pointer; margin-left: 60px;">
            <input type="cancel" class="btn" value="취소" style="background: #ffa07a; width: 100px; cursor: pointer; margin-left: 40px;margin-right: 60px;" onClick="location.href='/shop/stock/1'">
        </div>
      </form>
  </div>
</div>
