<!DOCTYPE html>
<div class="container">
  <% for(var i = 0; i< Detail.length; i++) {
    if(Detail[i].eventNum == id){ %>
  <div class="faqtitle">
    <strong><h2><%= Detail[i].eTitle %></h2></strong>
  </div>
  <hr>
  <div class="ment">
    <p><%= Detail[i].eventMent %></p>
    <img src="/images/event/<%=Detail[i].eventDetail %>" style="height:100%; width:100%;">
  </div>
   <% }} %>
   <hr>
   <div class="container">
   <button type="<%=buttonType%>" onclick="location.href='/adminbulletin/event/update?id=<%=id%>'" style="display: inline; right:160px; position:absolute;"><%=button1%></button>
   <%=admin%><form action="/adminbulletin/event/detail?id=<%=id%>" method="post" style="display: inline; right:100px; position: absolute; ">
   <input type="hidden" name="_method" value="delete">
   <button type="<%=buttonType%>" onclick="<%=onclick2%>"><%=button2%></button>
   <%=admin%></form>
   <button type="button" onclick="location.href='/adminbulletin/event/list'">목록</button>
   </div>
 </div>
